CREATE DATABASE [java4]
GO
USE [java4]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](20) NOT NULL,
	[email] [nvarchar](30) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[role] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ctsp]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctsp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_sp] [int] NULL,
	[id_mau_sac] [int] NULL,
	[id_size] [int] NULL,
	[gia_ban] [decimal](18, 2) NULL,
	[so_luong_ton] [int] NULL,
	[trang_thai] [varchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_sua] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_muc]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_muc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_danh_muc] [varchar](255) NULL,
	[ten_danh_muc] [varchar](255) NULL,
	[trang_thai] [varchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_sua] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hdct]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hdct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_hoa_don] [int] NULL,
	[id_ctsp] [int] NULL,
	[so_luong_mua] [int] NULL,
	[gia_ban] [decimal](18, 2) NULL,
	[tong_tien] [decimal](18, 2) NULL,
	[trang_thai] [varchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_sua] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_khach_hang] [int] NULL,
	[trang_thai] [varchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_sua] [datetime] NULL,
	[dia_chi] [nvarchar](255) NULL,
	[so_dien_thoai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](255) NULL,
	[dia_chi] [nvarchar](255) NULL,
	[sdt] [varchar](20) NULL,
	[trang_thai] [varchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_sua] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mau_sac]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mau_sac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_mau] [varchar](255) NULL,
	[ten_mau] [varchar](255) NULL,
	[trang_thai] [varchar](50) NULL,
	[ngay_sua] [datetime] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_san_pham] [varchar](255) NULL,
	[ten_san_pham] [varchar](255) NULL,
	[trang_thai] [varchar](50) NULL,
	[ngay_tao] [datetime] NULL,
	[ngay_sua] [datetime] NULL,
	[id_danh_muc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 4/10/2024 6:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_size] [varchar](255) NULL,
	[ten_size] [varchar](255) NULL,
	[trang_thai] [varchar](50) NULL,
	[ngay_sua] [datetime] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [email], [password], [role]) VALUES (1, N'admin               ', N'vunhph33506@fpt.edu.vn', N'$2a$10$0ip4VAUrtZllBjzxuWPPJuoy.9TAl8UoGjKVwXza0/Z2cmyNegMmq', 1)
INSERT [dbo].[Account] ([id], [username], [email], [password], [role]) VALUES (9, N'panda               ', N'panda@gmail.com', N'$2a$10$VaZxIj00jTnwwbKkUR9I1e.0dSZltXbhtppVYSVaLBgHpRNJ0OFlG', 0)
INSERT [dbo].[Account] ([id], [username], [email], [password], [role]) VALUES (16, N'hackervu            ', N'hackervu@gmail.com', N'$2a$10$VaZxIj00jTnwwbKkUR9I1e.0dSZltXbhtppVYSVaLBgHpRNJ0OFlG', 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[ctsp] ON 

INSERT [dbo].[ctsp] ([id], [id_sp], [id_mau_sac], [id_size], [gia_ban], [so_luong_ton], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (1, 6, 9, 8, CAST(272.03 AS Decimal(18, 2)), 36, N'Activity', CAST(N'2002-10-24T12:23:59.000' AS DateTime), CAST(N'2016-01-01T10:29:33.000' AS DateTime))
INSERT [dbo].[ctsp] ([id], [id_sp], [id_mau_sac], [id_size], [gia_ban], [so_luong_ton], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (2, 19, 8, 6, CAST(811.55 AS Decimal(18, 2)), 85, N'Activity', CAST(N'2002-08-24T16:56:33.000' AS DateTime), CAST(N'2013-10-26T01:55:09.000' AS DateTime))
INSERT [dbo].[ctsp] ([id], [id_sp], [id_mau_sac], [id_size], [gia_ban], [so_luong_ton], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (3, 34, 4, 9, CAST(996.57 AS Decimal(18, 2)), 68, N'Activity', CAST(N'2015-07-24T05:32:22.000' AS DateTime), CAST(N'2017-09-25T13:48:08.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ctsp] OFF
GO
SET IDENTITY_INSERT [dbo].[danh_muc] ON 

INSERT [dbo].[danh_muc] ([id], [ma_danh_muc], [ten_danh_muc], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (1, N'9792898534729', N'Baby', N'Activity', CAST(N'2008-04-17T19:20:20.000' AS DateTime), CAST(N'2024-04-03T12:08:01.513' AS DateTime))
INSERT [dbo].[danh_muc] ([id], [ma_danh_muc], [ten_danh_muc], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (2, N'9783563764701', N'Clothing, Shoes and Jewelry', N'Inactive', CAST(N'2020-09-22T11:19:31.000' AS DateTime), CAST(N'2000-10-07T16:52:19.000' AS DateTime))
INSERT [dbo].[danh_muc] ([id], [ma_danh_muc], [ten_danh_muc], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (3, N'680145779544', N'Computers & Electronics', N'Inactive', CAST(N'2002-03-11T16:52:06.000' AS DateTime), CAST(N'2021-01-04T08:12:07.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[danh_muc] OFF
GO
SET IDENTITY_INSERT [dbo].[hdct] ON 

INSERT [dbo].[hdct] ([id], [id_hoa_don], [id_ctsp], [so_luong_mua], [gia_ban], [tong_tien], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (144, 115, 16, 4, CAST(29.37 AS Decimal(18, 2)), CAST(117.48 AS Decimal(18, 2)), N'Activity', CAST(N'2024-04-02T23:34:05.793' AS DateTime), CAST(N'2024-04-02T23:34:05.793' AS DateTime))
INSERT [dbo].[hdct] ([id], [id_hoa_don], [id_ctsp], [so_luong_mua], [gia_ban], [tong_tien], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (145, 115, 3, 4, CAST(996.57 AS Decimal(18, 2)), CAST(3986.28 AS Decimal(18, 2)), N'Activity', CAST(N'2024-04-03T09:07:30.650' AS DateTime), CAST(N'2024-04-03T09:07:30.650' AS DateTime))
INSERT [dbo].[hdct] ([id], [id_hoa_don], [id_ctsp], [so_luong_mua], [gia_ban], [tong_tien], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (146, 115, 4, 2, CAST(324.83 AS Decimal(18, 2)), CAST(649.66 AS Decimal(18, 2)), N'Activity', CAST(N'2024-04-03T09:07:35.273' AS DateTime), CAST(N'2024-04-03T09:07:35.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[hdct] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

INSERT [dbo].[hoa_don] ([id], [id_khach_hang], [trang_thai], [ngay_tao], [ngay_sua], [dia_chi], [so_dien_thoai]) VALUES (103, 28, N'Paid', CAST(N'2024-04-02T22:10:52.290' AS DateTime), CAST(N'2024-04-02T22:15:54.997' AS DateTime), NULL, NULL)
INSERT [dbo].[hoa_don] ([id], [id_khach_hang], [trang_thai], [ngay_tao], [ngay_sua], [dia_chi], [so_dien_thoai]) VALUES (104, 29, N'Paid', CAST(N'2024-04-02T22:10:58.963' AS DateTime), CAST(N'2024-04-02T22:15:59.527' AS DateTime), NULL, NULL)
INSERT [dbo].[hoa_don] ([id], [id_khach_hang], [trang_thai], [ngay_tao], [ngay_sua], [dia_chi], [so_dien_thoai]) VALUES (105, 30, N'Paid', CAST(N'2024-04-02T22:11:00.603' AS DateTime), CAST(N'2024-04-02T22:16:03.223' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[khach_hang] ON 

INSERT [dbo].[khach_hang] ([id], [ho_ten], [dia_chi], [sdt], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (1, N'Miguel Ramirez', N'94 Flatbush Ave', N'718-576-3663', N'Activity', CAST(N'2013-07-23T21:12:06.000' AS DateTime), CAST(N'2018-12-09T04:46:43.000' AS DateTime))
INSERT [dbo].[khach_hang] ([id], [ho_ten], [dia_chi], [sdt], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (2, N'Micheal Gutierrez', N'30 Alameda Street', N'213-601-8475', N'Activity', CAST(N'2002-07-03T21:37:56.000' AS DateTime), CAST(N'2024-04-02T22:17:24.840' AS DateTime))
INSERT [dbo].[khach_hang] ([id], [ho_ten], [dia_chi], [sdt], [trang_thai], [ngay_tao], [ngay_sua]) VALUES (3, N'Timothy Gardner', N'3 Wicklow Road', N'614-409-2135', N'Activity', CAST(N'2000-02-11T02:27:30.000' AS DateTime), CAST(N'2024-04-02T22:17:27.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[mau_sac] ON 

INSERT [dbo].[mau_sac] ([id], [ma_mau], [ten_mau], [trang_thai], [ngay_sua], [ngay_tao]) VALUES (1, N'7814916632728', N'Jasmine', N'Activity', CAST(N'2020-07-10T05:06:23.000' AS DateTime), CAST(N'2007-08-02T00:59:00.000' AS DateTime))
INSERT [dbo].[mau_sac] ([id], [ma_mau], [ten_mau], [trang_thai], [ngay_sua], [ngay_tao]) VALUES (2, N'89867013', N'Peach', N'Inactive', CAST(N'2009-07-04T00:34:07.000' AS DateTime), CAST(N'2019-04-25T01:26:46.000' AS DateTime))
INSERT [dbo].[mau_sac] ([id], [ma_mau], [ten_mau], [trang_thai], [ngay_sua], [ngay_tao]) VALUES (3, N'9781745538768', N'Beige', N'Inactive', CAST(N'2005-05-31T14:29:41.000' AS DateTime), CAST(N'2017-05-28T23:15:21.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[mau_sac] OFF
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([id], [ma_san_pham], [ten_san_pham], [trang_thai], [ngay_tao], [ngay_sua], [id_danh_muc]) VALUES (1, N'HDL-3526', N'You will succeed because most people are lazy.', N'Activity', CAST(N'2005-04-18T05:27:02.000' AS DateTime), CAST(N'2010-12-23T23:11:33.000' AS DateTime), 1)
INSERT [dbo].[san_pham] ([id], [ma_san_pham], [ten_san_pham], [trang_thai], [ngay_tao], [ngay_sua], [id_danh_muc]) VALUES (2, N'01999433', N'A man is not old until regrets   ', N'Activity', CAST(N'2005-11-27T19:09:26.000' AS DateTime), CAST(N'2024-04-02T22:07:47.357' AS DateTime), 7)
INSERT [dbo].[san_pham] ([id], [ma_san_pham], [ten_san_pham], [trang_thai], [ngay_tao], [ngay_sua], [id_danh_muc]) VALUES (3, N'XIA-8342', N'I will greet this day with love in my heart.', N'Activity', CAST(N'2023-02-10T04:53:32.000' AS DateTime), CAST(N'2003-04-19T19:28:45.000' AS DateTime), 5)
GO
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([id], [ma_size], [ten_size], [trang_thai], [ngay_sua], [ngay_tao]) VALUES (1, N'09965270', N'M', N'Activity', CAST(N'2002-09-20T04:48:02.000' AS DateTime), CAST(N'2004-08-16T03:20:17.000' AS DateTime))
INSERT [dbo].[size] ([id], [ma_size], [ten_size], [trang_thai], [ngay_sua], [ngay_tao]) VALUES (2, N'09066533', N'XS', N'Inactive', CAST(N'2012-01-09T16:14:20.000' AS DateTime), CAST(N'2015-05-14T01:05:03.000' AS DateTime))
INSERT [dbo].[size] ([id], [ma_size], [ten_size], [trang_thai], [ngay_sua], [ngay_tao]) VALUES (3, N'6401177113243', N'M', N'Activity', CAST(N'2000-05-22T09:05:46.000' AS DateTime), CAST(N'2000-10-14T18:04:57.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[size] OFF
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [role]
GO
ALTER TABLE [dbo].[ctsp]  WITH CHECK ADD  CONSTRAINT [fk_mau_sac] FOREIGN KEY([id_mau_sac])
REFERENCES [dbo].[mau_sac] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ctsp] CHECK CONSTRAINT [fk_mau_sac]
GO
ALTER TABLE [dbo].[ctsp]  WITH CHECK ADD  CONSTRAINT [fk_size] FOREIGN KEY([id_size])
REFERENCES [dbo].[size] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ctsp] CHECK CONSTRAINT [fk_size]
GO
ALTER TABLE [dbo].[ctsp]  WITH CHECK ADD  CONSTRAINT [fk_sp] FOREIGN KEY([id_sp])
REFERENCES [dbo].[san_pham] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ctsp] CHECK CONSTRAINT [fk_sp]
GO
ALTER TABLE [dbo].[hdct]  WITH CHECK ADD  CONSTRAINT [fk_ctsp] FOREIGN KEY([id_ctsp])
REFERENCES [dbo].[ctsp] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hdct] CHECK CONSTRAINT [fk_ctsp]
GO
ALTER TABLE [dbo].[hdct]  WITH CHECK ADD  CONSTRAINT [fk_hoa_don] FOREIGN KEY([id_hoa_don])
REFERENCES [dbo].[hoa_don] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hdct] CHECK CONSTRAINT [fk_hoa_don]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_khach_hang] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [fk_khach_hang]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [fk_san_pham_danh_muc] FOREIGN KEY([id_danh_muc])
REFERENCES [dbo].[danh_muc] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [fk_san_pham_danh_muc]
GO
